.collection {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  display: grid;
  grid-template-columns: 57.97fr 42.03fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "first second"
    "first third";
  /* height: 511px; */
  row-gap: 17px;
  column-gap: 18px;
  align-content: space-between;
  width: 81.39vw;
  /* min-width: 1047px; */
  max-width: 1174px;
  justify-self: center;
  overflow: hidden;

  /* grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(247px, 2fr)); */
}

/* 702 */
@media screen and (max-width: 800px) {
  .collection {
    grid-template-columns: 81.39vw;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
      "first"
      "second"
      "third";
  }
}
