.header__search {
  max-width: 580px;
  width: 80%;
  margin: 0 10px;
  height: 42px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--green);
  border-right: none;
}
