.offer__counter {
  background-color: var(--green);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  justify-items: center;
  align-content: center;
  font-family: "Rubik", sans-serif;
}
