.offer__btn {
  border: none;
  cursor: pointer;
  background-color: var(--green);
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
  width: 91px;
  height: 26px;
  border-radius: 2px;
}
