.discount {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 5px 8px;
  background-color: var(--blue);
  border-radius: 0 0 0 5px;
  width: fit-content;
  height: fit-content;
}
