.nav__nav {
  width: 81.39vw;
  max-width: 1174px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 67px;
  background-color: var(--light-grey);
  box-sizing: border-box;
}
